/* Contenedor principal */
main {
  font-family: 'Inter', sans-serif;
}

.about-container {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Alineación del About más centrada */
#about-header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 10px;
}

#about-header h1 {
  font-size: 70px;
  font-family: 'Inter', sans-serif;
}

/* Sección de descripción: Imagen a la derecha y texto a la izquierda */
#about-description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 100px;
  gap: 90px;
  width: 80%;
  max-width: 1430px; /* Ancho fijo */
}


.text-container {
  width: 50%;
}

.text-container p {
  font-size: 18px;
  padding-top: 10px;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Foto de perfil */
#profile-photo {
  object-fit: cover;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

/* Fondo de sección de Stack Tecnológico */
#tech-stack-section {
  margin-top: 100px;
  width: 80%;
  max-width: 1200px;
  padding-bottom: 150px;
}

.icon-cloud {
  gap: 22rem;
  margin-left: 75px;
}

/* Estilo para listas */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.125rem;
}

/* Alineación de texto en secciones */
#education-list, #certificates-list {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Títulos principales */
h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #e2e8f0;
}

/* Títulos secundarios */
h2 {
  font-size: 1.25rem;
  color: #a0aec0;
}

/* Animaciones */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.5s;
}

.delay-400 {
  animation-delay: 1s;
}

/* Texto con gradiente */
.gradient-text {
  background: linear-gradient(90deg, rgb(18, 167, 248), rgb(56, 25, 228));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradientMove 3s linear infinite;
}
