/* Estilos generales 
body.home {
  overflow: hidden;
}
*/
/* Otros estilos de tu componente Home */


main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  min-height: 100vh; /* Asegura que el main ocupe toda la altura de la pantalla */
  text-align: center; /* Centra el texto */
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
  overflow: hidden; /* Evita el scroll */
}

/* Contenedor de la descripción */
#description-container {
 /*  display: flex;
  align-items: center; Alinea verticalmente la imagen y el texto 
  justify-content: center; /* Centra los elementos en el eje horizontal 
  gap: 100px; /* Espacio entre la imagen y el contenido de texto 
  margin-top: 9vw; 
  */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 100px;
  gap: 90px;
  width: 80%;
  max-width: 100%; /* Asegura que no exceda el ancho del viewport */
}


/* Contenedor de la imagen */
#img-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* Estilos del texto */
#description h1 {
  max-width: 520px;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: left;
  font-size: 3.5vw;
  overflow: hidden;
  margin-right: auto; /* Margen derecho automático */
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.gradient-text {
  background: linear-gradient(90deg, rgb(18, 167, 248), rgb(56, 25, 228)); /* Degradado de color */
  -webkit-background-clip: text; /* Aplica el degradado solo al texto en navegadores que necesitan el prefijo */
  background-clip: text; /* Propiedad estándar para compatibilidad */
  color: transparent; /* Hace el color del texto transparente para que se vea el degradado */
  background-size: 200% 100%; /* Aumenta el tamaño del fondo para poder moverlo */
  animation: gradientMove 3s linear infinite; /* Animación de movimiento continuo */
}

/* Animación del degradado */
@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

#description h2 {
  font-family: 'Inter', sans-serif;
  color: rgb(167, 165, 165);
  font-size: 30px;
  text-align: left;
  max-width: 400px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

main p {
  color: rgb(223, 221, 221);
  font-family: 'Inter', sans-serif;
  text-align: left;
  font-size: 1.1vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* Iconos sociales */
.social-icons {
  display: flex;
  justify-content: flex-start; /* Alinea los iconos a la izquierda */
  align-items: center; /* Centra los iconos verticalmente */
  gap: 25px; /* Espacio entre los iconos */
  margin-top: 50px;
}

.social-icons img {
  width: 35px; /* Tamaño del icono */
  height: 35px; /* Tamaño del icono */
  transition: transform 0.3s, filter 0.3s; /* Efecto de transición al pasar el mouse */
}

/* Efecto hover para los iconos */
.social-icons img:hover {
  transform: scale(1.3); /* Agranda el icono al pasar el mouse */
  filter: brightness(1.2); /* Aumenta el brillo en el hover */
}

/* Animaciones */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(240, 141, 12);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos responsivos */
@media (max-width: 1024px) {
   #description-container {
    flex-direction: column; /* Coloca los elementos en una sola columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align:start; /* Asegura que los textos estén centrados */
    gap: 20px; /* Reduce el espacio entre elementos */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  #description h1 {
    font-size: 4vw; /* Ajusta el tamaño del título */
    text-align: center; /* Centra el texto */
    margin-right: 0; /* Elimina el margen derecho */
  }

  #description h2 {
    text-align: center;
    max-width: 90%;
  }

  main p {
    font-size: 1.3vw; /* Ajusta el tamaño del texto */
    text-align: center;
  }

  .social-icons {
    justify-content: center; /* Centra los iconos sociales */
  }
}

@media (max-width: 768px) {
  main {
    min-height: 100vh; /* Asegura que el main ocupe toda la altura de la pantalla */
    overflow: hidden; /* Evita el scroll */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
    padding: 30px; /* Menos padding en móviles */

  }

  #description {
    display: flex;
    flex-direction: column; /* Hace que los elementos sean uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Asegura que se centren también verticalmente */
    text-align: center; /* Centra el texto dentro de los elementos */
  }

  

  #description h1 {
    font-size: 45px; /* Tamaño fijo para móviles */
    margin: 0; /* Elimina márgenes adicionales */
    max-width: 340px;

  }

  #description h2 {
    font-size: 22px; /* Tamaño del h2 */
    margin: 0; /* Elimina márgenes adicionales */
    padding-bottom:25px;
  }

  main p {
    font-size: 16px;
    text-align: center; /* Centra el texto */
    margin: 10px 0; /* Añade un margen pequeño arriba y abajo */
  }

  #description-container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 30px; /* Reduce el espacio entre elementos */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  #img-container img {
    width: 220px; /* Tamaño más pequeño para móviles */
    height: 220px;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Centra los iconos */
    gap: 20px; /* Reduce el espacio entre los iconos */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  .social-icons img {
    width: 35px; /* Reduce el tamaño de los iconos */
    height: 35px;
  }
}



@media (max-width: 480px) {
  main {
    min-height: 100vh; /* Asegura que el main ocupe toda la altura de la pantalla */
    overflow: hidden; /* Evita el scroll */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
    padding: 10px; /* Menos padding en móviles */

  }

  #description {
    display: flex;
    flex-direction: column; /* Hace que los elementos sean uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Asegura que se centren también verticalmente */
    text-align: center; /* Centra el texto dentro de los elementos */
  }

  

  #description h1 {
    font-size: 35px; /* Tamaño fijo para móviles */
    margin: 0; /* Elimina márgenes adicionales */
    max-width: 265px;

  }

  #description h2 {
    font-size: 22px; /* Tamaño del h2 */
    margin: 0; /* Elimina márgenes adicionales */
    padding-bottom:25px;
  }

  main p {
    font-size: 16px;
    text-align: center; /* Centra el texto */
    margin: 10px 0; /* Añade un margen pequeño arriba y abajo */
  }

  #description-container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 30px; /* Reduce el espacio entre elementos */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  #img-container img {
    width: 190px; /* Tamaño más pequeño para móviles */
    height: 190px;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Centra los iconos */
    gap: 20px; /* Reduce el espacio entre los iconos */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  .social-icons img {
    width: 35px; /* Reduce el tamaño de los iconos */
    height: 35px;
  }
}
@media (max-width: 320px) {
  #description-container {
    flex-direction: column; /* Coloca los elementos en una sola columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align:start; /* Asegura que los textos estén centrados */
    gap: 20px; /* Reduce el espacio entre elementos */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  #img-container {
    order: 1; /* Coloca la imagen en la primera posición */
  }

  #description {
    order: 2; /* Coloca el texto debajo de la imagen */
  }

  #description h1 {
    font-size: 10vw; /* Ajusta el tamaño del título */
    max-width: 90%; /* Limita el ancho del título */
  }

  #description h2 {
    font-size: 18px;
  }
  
  main p {
    font-size: 14px;
    text-align:center; /* Asegura que los textos estén centrados */

    
  }

  .social-icons {
    justify-content: center; /* Centra los iconos en pantallas pequeñas */
  }

  .social-icons img {
    width: 30px;
    height: 30px;
  }
}