.dock-icon-label {
    font-size: 20px;
  }
  .icon {
    width: 28px;
    height: 28px;
    transition: filter 0.3s ease;
  }
  
  .icon:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(64%) saturate(1100%) hue-rotate(195deg) brightness(110%) contrast(110%);
  }
  